@{
    ViewData["Title"] = "Home Page";
}

<h2>My very plain home page where you can experiment with product objects</h2>

<a asp-action="ShowProduct" asp-controller="Product" class="btn btn-info">See a sample product</a>
<a asp-controller="Product" class="btn btn-info">See a list of products</a>
<a asp-action="AddProduct" asp-controller="Product" class="btn btn-info">Add a product</a>

@for (var i = 0; i < (int)ViewData["UserNum"]; i++)
{
    <h3>
        Name: @ViewData["UserName"]
    </h3>
}
    
